server {
	listen {NGINX_PORT};
	# listen [::]:80 {NGINX_PORT};
	# listen 443 ssl http2 {NGINX_PORT};
	# listen [::]:443 ssl http2 {NGINX_PORT};

	# resolver php72[::]:9000 valid=30s;

	server_name {NGINX_HOST};

	set $MAGE_ROOT /home/www/naturalremedy/src;

	root $MAGE_ROOT;
	index index.php;
	set $code default;

	location / {
	    try_files $uri $uri/ /index.php$is_args$args;
	}

	include /etc/nginx/defaults/magento1.conf;
}