<?xml version="1.0" encoding="UTF-8" ?>
<!--
/**
 * Squareup_Omni extension
 */
/**
 * @category    Squareup
 * @package     Squareup_Omni
 * @copyright   2018
 * @author      SquareUp
 */
-->
<config>
    <modules>
        <Squareup_Omni>
            <version>0.2.9</version>
        </Squareup_Omni>
    </modules>
    <global>
        <blocks>
            <squareup_omni>
                <class>Squareup_Omni_Block</class>
            </squareup_omni>
        </blocks>
        <helpers>
            <squareup_omni>
                <class>Squareup_Omni_Helper</class>
            </squareup_omni>
        </helpers>
        <models>
            <squareup_omni>
                <class>Squareup_Omni_Model</class>
                <resourceModel>squareup_omni_resource</resourceModel>
            </squareup_omni>
            <sales>
                <rewrite>
                    <order_payment>Squareup_Omni_Model_Order_Payment</order_payment>
                </rewrite>
            </sales>
            <squareup_omni_resource>
                <class>Squareup_Omni_Model_Resource</class>
                <entities>
                    <location>
                        <table>squareup_omni_location</table>
                    </location>
                    <square_inventory>
                        <table>squareup_omni_inventory</table>
                    </square_inventory>
                    <transaction>
                        <table>squareup_omni_transaction</table>
                    </transaction>
                    <refunds>
                        <table>squareup_omni_refunds</table>
                    </refunds>
                </entities>
            </squareup_omni_resource>
        </models>
        <resources>
            <squareup_omni_setup>
                <setup>
                    <module>Squareup_Omni</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </squareup_omni_setup>
        </resources>
        <events>
            <resource_get_tablename>
                <observers>
                    <squareup_omni>
                        <class>squareup_omni/observer</class>
                        <method>addAutoloader</method>
                    </squareup_omni>
                </observers>
            </resource_get_tablename>
            <customer_save_after>
                <observers>
                    <squareup_omni_customer_save_after>
                        <class>squareup_omni/observer</class>
                        <method>customerSaveAfter</method>
                    </squareup_omni_customer_save_after>
                </observers>
            </customer_save_after>
            <customer_delete_after>
                <observers>
                    <squareup_omni_customer_delete_after>
                        <class>squareup_omni/observer</class>
                        <method>customerDeleteAfter</method>
                    </squareup_omni_customer_delete_after>
                </observers>
            </customer_delete_after>
            <catalog_product_save_commit_after>
                <observers>
                    <squareup_omni_product_save>
                        <class>squareup_omni/observer</class>
                        <method>productSave</method>
                    </squareup_omni_product_save>
                </observers>
            </catalog_product_save_commit_after>
            <catalog_product_delete_after_done>
                <observers>
                    <squareup_omni_product_delete>
                        <class>squareup_omni/observer</class>
                        <method>productDelete</method>
                    </squareup_omni_product_delete>
                </observers>
            </catalog_product_delete_after_done>
            <catalog_product_delete_before>
                <observers>
                    <squareup_omni_product_delete>
                        <class>squareup_omni/observer</class>
                        <method>productResetChildren</method>
                    </squareup_omni_product_delete>
                </observers>
            </catalog_product_delete_before>
            <controller_action_predispatch_adminhtml_system_config_save>
                <observers>
                    <squareup_omni_predispatch_config_save>
                        <class>squareup_omni/observer</class>
                        <method>beforeConfigSave</method>
                    </squareup_omni_predispatch_config_save>
                </observers>
            </controller_action_predispatch_adminhtml_system_config_save>
            <admin_system_config_changed_section_squareup_omni>
                <observers>
                    <squareup_omni_config_save>
                        <class>squareup_omni/observer</class>
                        <method>configSave</method>
                    </squareup_omni_config_save>
                </observers>
            </admin_system_config_changed_section_squareup_omni>
            <controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
                <observers>
                    <squareup_omni_mass_action>
                        <class>squareup_omni/observer</class>
                        <method>massProductUpdates</method>
                    </squareup_omni_mass_action>
                </observers>
            </controller_action_postdispatch_adminhtml_catalog_product_action_attribute_save>
            <catalog_product_stock_item_mass_change>
                <observers>
                    <squareup_omni_mass_inventory_action>
                        <class>squareup_omni/observer</class>
                        <method>massInventoryUpdates</method>
                    </squareup_omni_mass_inventory_action>
                </observers>
            </catalog_product_stock_item_mass_change>
        </events>
        <fieldsets>
            <sales_convert_quote_payment>
                <squareup_nonce>
                    <to_order_payment>*</to_order_payment>
                </squareup_nonce>
                <squareup_transaction>
                    <to_order_payment>*</to_order_payment>
                </squareup_transaction>
                <save_square_card>
                    <to_order_payment>*</to_order_payment>
                </save_square_card>
            </sales_convert_quote_payment>
        </fieldsets>
    </global>
    <crontab>
        <jobs>
            <customer_export>
                <schedule>
                    <cron_expr>5,35 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startCustomerExport</model>
                </run>
            </customer_export>
            <customer_import>
                <schedule>
                    <cron_expr>10,40 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startCustomerImport</model>
                </run>
            </customer_import>
            <location_import>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startLocationsImport</model>
                </run>
            </location_import>
            <oauth_refresh>
                <schedule>
                    <cron_expr>0 4 * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::refreshOauthToken</model>
                </run>
            </oauth_refresh>
            <square_transactions_import>
                <schedule>
                    <cron_expr>25,55 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startTransactionsImport</model>
                </run>
            </square_transactions_import>
            <square_refunds_import>
                <schedule>
                    <cron_expr>25,55 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startRefundsImport</model>
                </run>
            </square_refunds_import>
            <catalog_process>
                <schedule>
                    <cron_expr>15,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startCatalog</model>
                </run>
            </catalog_process>
            <inventory_process>
                <schedule>
                    <cron_expr>20,50 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::startInventory</model>
                </run>
            </inventory_process>
            <square_job_cleanup>
                <schedule>
                    <cron_expr>*/15 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>squareup_omni/cron::jobsCleanUp</model>
                </run>
            </square_job_cleanup>
        </jobs>
    </crontab>
    <frontend>
        <routers>
            <squareup_omni>
                <use>standard</use>
                <args>
                    <module>Squareup_Omni</module>
                    <frontName>square_magento</frontName>
                </args>
            </squareup_omni>
        </routers>
        <layout>
            <updates>
                <squareup_omni>
                    <file>squareup/squareup.xml</file>
                </squareup_omni>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <squareup_omni>
                    <file>squareup/squareup.xml</file>
                </squareup_omni>
            </updates>
        </layout>
        <events>
            <catalog_product_collection_load_before>
                <observers>
                    <add_grid_column>
                        <class>squareup_omni/observer</class>
                        <method>joinLocationToProductCollection</method>
                    </add_grid_column>
                </observers>
            </catalog_product_collection_load_before>

            <core_block_abstract_prepare_layout_before>
                <observers>
                    <admingridaddcolumn>
                        <class>squareup_omni/observer</class>
                        <method>addLocationToProductGrid</method>
                    </admingridaddcolumn>
                </observers>
            </core_block_abstract_prepare_layout_before>

            <sales_order_invoice_save_after>
                <observers>
                    <admingridaddcolumn>
                        <class>squareup_omni/observer</class>
                        <method>synchronizeItems</method>
                    </admingridaddcolumn>
                </observers>
            </sales_order_invoice_save_after>

            <sales_order_creditmemo_refund>
                <observers>
                    <creditmemo_refund>
                        <class>squareup_omni/observer</class>
                        <method>creditmemoRefund</method>
                    </creditmemo_refund>
                </observers>
            </sales_order_creditmemo_refund>
        </events>
    </adminhtml>
    <default>
        <payment>
            <squareup_payment>
                <model>squareup_omni/payment</model>
                <active>1</active>
                <title>Square</title>
                <payment_action>authorize</payment_action>
                <sort_order>1</sort_order>
            </squareup_payment>
            <squareup_transaction_payment>
                <active>1</active>
                <model>squareup_omni/transaction_payment</model>
                <order_status>processing</order_status>
                <title>Square Payment</title>
            </squareup_transaction_payment>
        </payment>
        <carriers>
            <square_shipping>
                <active>1</active>
                <model>squareup_omni/transaction_shipping</model>
                <title>Square Shipping</title>
            </square_shipping>
        </carriers>
    </default>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Squareup_Omni after="Mage_Adminhtml">Squareup_Omni_Adminhtml</Squareup_Omni>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>