# Magento 1.x

/src/app/etc/local.xml
/src/var
/src/includes/src/
/src/downloader/.cache/
/src/downloader/cache.cfg
/src/downloader/connect.cfg
/src/dev/tests/functional/composer.lock
/src/dev/tests/functional/vendor/
/src/dev/tests/functional/generated/
/src/dev/tests/functional/var/
/src/media/
sitemap.xml
/src/.*
/src/phpcs.xml
/src/vendor/

# Unwanted Files

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tar.gz
*.tgz
*.zip
*.log
*.sql
*.sqlite
error_log
adminer.php

# IDE files

.idea/
*.sublime-workspace
*.iws
nbproject/

# OSX

._*
.DS_Store
.DS_Store?
.AppleDouble
.LSOverride
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Windows

Thumbs.db
ehthumbs.db

# Keep files

!/src/lib/Zend/Queue/Adapter/Db/*.sql
!/src/.htaccess
!/src/.modman