<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<NaturalRemedyCo_Squareup>
			<version>0.1.0</version>
		</NaturalRemedyCo_Squareup>
	</modules>
	<global>
		<helpers>
			<nrcsquare>
				<rewrite>
					<data>Squareup_Omni_Helper_Data</data>
				</rewrite>
			</nrcsquare>
		</helpers>
	</global>
</config>