<?xml version="1.0" encoding="UTF-8" ?>
<config>
	<modules>
		<NaturalRemedyCo_Squareup>
			<version>0.1.0</version>
		</NaturalRemedyCo_Squareup>
	</modules>
	<global>
		<helpers>
			<squareup_omni>
				<rewrite>
					<data>NaturalRemedyCo_Squareup_Helper_Data</data>
				</rewrite>
			</squareup_omni>
		</helpers>
	</global>
</config>