<?xml version="1.0"?>
<!--
/**
* Braintree Payments Extension
*
* This source file is subject to the Braintree Payment System Agreement (https://www.braintreepayments.com/legal)
*
* DISCLAIMER
* This file will not be supported if it is modified.
*
* @copyright   Copyright (c) 2015 Braintree. (https://www.braintreepayments.com/)
*/
-->
<config>
    <modules>
        <Braintree_Payments>
            <version>2.0.0</version>
        </Braintree_Payments>
    </modules>
    <global>
        <blocks>
            <braintree_payments>
                <class>Braintree_Payments_Block</class>
            </braintree_payments>
        </blocks>
        <models>
            <braintree_payments>
                <class>Braintree_Payments_Model</class>
            </braintree_payments>
            <sales>
                <rewrite>
                    <order_payment>Braintree_Payments_Model_Rewrite_Sales_Order_Payment</order_payment>
                </rewrite>
            </sales>
            <compiler>
                <rewrite>
                    <process>Braintree_Payments_Model_Rewrite_Compiler_Process</process>
                </rewrite>
            </compiler>
        </models>
        <helpers>
            <braintree_payments>
                <class>Braintree_Payments_Helper</class>
            </braintree_payments>
        </helpers>
        <resources>
            <braintree_payments_setup>
                <setup>
                    <module>Braintree_Payments</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </braintree_payments_setup>
        </resources>
        <!-- This rewrite is done to save /customer/creditcard/ URL from v1, but disallow /customer/checkout/ URL -->
        <rewrite>
            <braintree_payments_checkout>
                <from><![CDATA[#^/customer/checkout/#]]></from>
                <to>/404/</to>
            </braintree_payments_checkout>
        </rewrite>
        <events>
            <customer_save_commit_after>
                <observers>
                    <update_braintree_customer_id>
                        <class>braintree_payments/observer</class>
                        <method>updateBraintreeCustomerId</method>
                    </update_braintree_customer_id>
                </observers>
            </customer_save_commit_after>
            <payment_method_is_active>
                <observers>
                    <check_braintree_methods_availability>
                        <class>braintree_payments/observer</class>
                        <method>checkBraintreeMethodsAvailability</method>
                    </check_braintree_methods_availability>
                </observers>
            </payment_method_is_active>
        </events>
    </global>

    <default>
        <payment>
            <braintree>
                <active>0</active>
                <cctypes>AE,VI,MC,DI,JCB</cctypes>
                <model>braintree_payments/creditcard</model>
                <order_status>processing</order_status>
                <title>Credit Card (Braintree)</title>
                <payment_action>authorize</payment_action>
                <environment>sandbox</environment>
                <allowspecific>0</allowspecific>
                <useccv>1</useccv>
                <fraudprotection>0</fraudprotection>
                <capture_action>invoice</capture_action>
                <data_js><![CDATA[https://js.braintreegateway.com/v1/braintree-data.js]]></data_js>
                <duplicate_card>0</duplicate_card>
                <usecache>0</usecache>
                <enable_cc_detection>1</enable_cc_detection>
                <private_key backend_model="adminhtml/system_config_backend_encrypted" />
                <debug>0</debug>
                <three_d_secure>0</three_d_secure>
                <three_d_secure_allowspecific>0</three_d_secure_allowspecific>
                <three_d_secure_failed>2</three_d_secure_failed>
                <paypal_active>0</paypal_active>
                <paypal_title>PayPal (Braintree)</paypal_title>
                <paypal_payment_action>authorize</paypal_payment_action>
                <paypal_order_status>processing</paypal_order_status>
                <paypal_allowspecific>0</paypal_allowspecific>
                <shortcut_shopping_cart>1</shortcut_shopping_cart>
                <shortcut_shipping_address>1</shortcut_shipping_address>
                <paypal_debug>0</paypal_debug>
                <kount_environment>production</kount_environment>
            </braintree>
            <braintree_paypal>
                <model>braintree_payments/paypal</model>
                <title>PayPal (Braintree)</title>
                <active>0</active>
            </braintree_paypal>
        </payment>
    </default>
    <frontend>
        <layout>
            <updates>
                <braintree module="Braintree_Payments">
                    <file>braintree.xml</file>
                </braintree>
            </updates>
        </layout>
        <secure_url>
            <braintree_checkout>/braintree/checkout</braintree_checkout>
        </secure_url>
        <routers>
            <braintree>
                <use>standard</use>
                <args>
                    <module>Braintree_Payments</module>
                    <frontName>braintree</frontName>
                </args>
            </braintree>
            <customer>
                <args>
                    <modules>
                        <Braintree_Payments after="Mage_Customer">Braintree_Payments</Braintree_Payments>
                    </modules>
                </args>
            </customer>
        </routers>
        <translate>
            <modules>
                <Braintree_Payments>
                    <files>
                        <default>Braintree_Payments.csv</default>
                    </files>
                </Braintree_Payments>
            </modules>
        </translate>
        <events>
            <checkout_type_multishipping_create_orders_single>
                <observers>
                    <process_braintree_multishipping>
                        <class>braintree_payments/observer</class>
                        <method>processBraintreeMultishipping</method>
                    </process_braintree_multishipping>
                </observers>
            </checkout_type_multishipping_create_orders_single>
            <checkout_submit_all_after>
                <observers>
                    <delete_card_braintree_multishipping>
                        <class>braintree_payments/observer</class>
                        <method>deleteCardBraintreeMultishipping</method>
                    </delete_card_braintree_multishipping>
                </observers>
            </checkout_submit_all_after>
            <checkout_multishipping_refund_all>
                <observers>
                    <delete_card_braintree_multishipping>
                        <class>braintree_payments/observer</class>
                        <method>deleteCardBraintreeMultishipping</method>
                    </delete_card_braintree_multishipping>
                </observers>
            </checkout_multishipping_refund_all>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <braintree>
                    <file>braintree.xml</file>
                </braintree>
            </updates>
        </layout>
        <translate>
            <modules>
                <Braintree_Payments>
                    <files>
                        <default>Braintree_Payments.csv</default>
                    </files>
                </Braintree_Payments>
            </modules>
        </translate>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <process_braintree_payment>
                        <class>braintree_payments/observer</class>
                        <method>processBraintreePayment</method>
                    </process_braintree_payment>
                </observers>
            </sales_order_shipment_save_after>
            <customer_delete_commit_after>
                <observers>
                    <delete_braintree_customer>
                        <class>braintree_payments/observer</class>
                        <method>deleteBraintreeCustomer</method>
                    </delete_braintree_customer>
                </observers>
            </customer_delete_commit_after>
            <admin_system_config_changed_section_payment>
                <observers>
                    <add_shortcuts_notification>
                        <class>braintree_payments/observer</class>
                        <method>addShortcutsNotification</method>
                    </add_shortcuts_notification>
                </observers>
            </admin_system_config_changed_section_payment>
        </events>
    </adminhtml>
</config>
