<?xml version="1.0"?>
<!--
  Moogento
  
  SOFTWARE LICENSE
  
  This source file is covered by the Moogento End User License Agreement
  that is bundled with this extension in the file License.html
  It is also available online here:
  https://www.moogento.com/License.html
  
  NOTICE
  
  If you customize this file please remember that it will be overwrtitten
  with any future upgrade installs. 
  If you'd like to add a feature which is not in this software, get in touch
  at www.moogento.com for a quote.
  
  ID          pe+sMEDTrtCzNq3pehW9DJ0lnYtgqva4i4Z=
  File        config.xml
  @category   Moogento
  @package    noMoreSpam
  @copyright  Copyright (c) 2014 Moogento <info@moogento.com> / All rights reserved.
  @license    https://www.moogento.com/License.html
-->
<config>
    <modules>
        <Moogento_NoMoreSpam>
            <version>1.0.22</version>
        </Moogento_NoMoreSpam>
    </modules>
    <default>
        <no_more_spam>
			<no_spam>
				<enabled_review_review_link>1</enabled_review_review_link>
				<enabled_review_title_link>1</enabled_review_title_link>
				<enabled_email_name_link>1</enabled_email_name_link>
				<enabled_email_message_link>0</enabled_email_message_link>
				<too_fast_form>1</too_fast_form>
				<enabled_review_rating>1</enabled_review_rating>
				<email_subject>New product review(s) submitted</email_subject>
				<email_body>Hi, you have a new product review which has passed the NoMoreSpam! filtering system.</email_body>
				<email_template>moogento_noremorespam_notify_new_review_email_template</email_template>
				<frequency>*/5 * * * *</frequency>
			</no_spam>
		</no_more_spam>
	</default>				
    <frontend>
        <routers>
            <contacts>
                <args>
                    <modules>
                        <Moogento_NoMoreSpam before="Mage_Contacts">Moogento_NoMoreSpam</Moogento_NoMoreSpam>
                    </modules>
                </args>
            </contacts>
            <review>
                <args>
                    <modules>
                        <Moogento_NoMoreSpam before="Mage_Review">Moogento_NoMoreSpam_Review</Moogento_NoMoreSpam>
                    </modules>
                </args>
            </review>
			<customer>
                <args>
                    <modules>
                        <Moogento_NoMoreSpam before="Mage_Customer">Moogento_NoMoreSpam_Customer</Moogento_NoMoreSpam>
                    </modules>
                </args>
            </customer>
			<newsletter>
                <args>
                    <modules>
                        <Moogento_NoMoreSpam before="Mage_Newsletter">Moogento_NoMoreSpam_Newsletter</Moogento_NoMoreSpam>
                    </modules>
                </args>
            </newsletter>
        </routers>
        <layout>
            <updates>
                <nomorespam>
                    <file>moogento/nomorespam.xml</file>
                </nomorespam>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Moogento_NoMoreSpam>
							<title>NoMoreSpam Module</title>
							<sort_order>10</sort_order>
						</Moogento_NoMoreSpam>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<nomorespam>
					<file>moogento/nomorespam.xml</file>
				</nomorespam>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <nomorespam>
                <class>Moogento_NoMoreSpam_Model</class>
                <resourceModel>nomorespam_mysql4</resourceModel>
            </nomorespam>
            <nomorespam_mysql4>
                <class>Moogento_NoMoreSpam_Model_Mysql4</class>
                <entities>
                    <nomorespam>
                        <table>nomorespam</table>
                    </nomorespam>
                </entities>
            </nomorespam_mysql4>
        </models>
        <resources>
            <nomorespam_setup>
                <setup>
                    <module>Moogento_NoMoreSpam</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </nomorespam_setup>
            <nomorespam_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </nomorespam_write>
            <nomorespam_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </nomorespam_read>
        </resources>
        <blocks>
            <nomorespam>
                <class>Moogento_NoMoreSpam_Block</class>
            </nomorespam>
        </blocks>
        <helpers>
            <nomorespam>
                <class>Moogento_NoMoreSpam_Helper</class>
            </nomorespam>
        </helpers>
        
		<template>
			<email>
				<moogento_noremorespam_notify_new_review_email_template translate="label">
					<label>Moogento nomorespam review</label>
					<file>moogento_noremorespam/review.html</file>
					<type>html</type>
				</moogento_noremorespam_notify_new_review_email_template>
			</email>
		</template>
		
    </global>
	<crontab>
		<jobs>
			<moogento_nomorespam_reviews_notify>
				<schedule>
					<cron_expr>*/30 * * * *</cron_expr>
<!-- 					<config_path>no_more_spam/no_spam/frequency</config_path> -->
				</schedule>
				<run>
					<model>nomorespam/noMoreSpam::sendEmailReview</model>
				</run>
			</moogento_nomorespam_reviews_notify>
		</jobs>
	</crontab>
</config>
